In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd

file_path = '/content/drive/My Drive/SDMIMD/DMBD/Project/Netflix.xlsx'
df = pd.read_excel(file_path)

In [ ]:
print(df)

     User_Id Subscription_Type  Monthly_Revenue         Country  Age  Gender  \
0          1             Basic               10   United States   28    Male
1          2           Premium               12          Canada   35  Female
2          3          Standard               15  United Kingdom   42     NaN
3          4          Standard               15       Australia   51     NaN
4          5             Basic               10         Germany   33     NaN
..       ...               ...              ...             ...  ...     ...
96        97             Basic               10          Brazil   29  Female
97        98          Standard               15          Mexico   31  Female
98        99          Standard               15           Spain   29  Female
99       100             Basic               10           Italy   35    Male
100      101           Premium               12   United States   46  Female

         Device  Plan_Duration
0    Smartphone              1
1        Tablet              1
2      Smart TV              1
3        Laptop              1
4    Smartphone              1
..          ...            ...
96       Tablet              1
97       Tablet              1
98       Tablet              1
99       Laptop              1
100      Tablet              1

[101 rows x 8 columns]

In [ ]:
import sqlite3

conn = sqlite3.connect('DMBD.db')
conn.execute('PRAGMA foreign_keys = 1')

### **Table Creation (DDL) and Insertion (DML)**

---

In [ ]:
create_table_query = """
CREATE TABLE user (
    User_Id int Primary key,
    Country char,
    Age int,
    Gender char,
    Device char
)
"""
conn.execute(create_table_query)
#User_Id	Subscription_Type	Monthly_Revenue	Country	Age	Gender	Device	Plan_Duration

In [ ]:
columns_to_insert = ['User_Id',	'Country',	'Age',	'Gender',	'Device']
df_filtered = df[columns_to_insert]
print(df_filtered)

     User_Id         Country  Age  Gender      Device
0          1   United States   28    Male  Smartphone
1          2          Canada   35  Female      Tablet
2          3  United Kingdom   42     NaN    Smart TV
3          4       Australia   51     NaN      Laptop
4          5         Germany   33     NaN  Smartphone
..       ...             ...  ...     ...         ...
96        97          Brazil   29  Female      Tablet
97        98          Mexico   31  Female      Tablet
98        99           Spain   29  Female      Tablet
99       100           Italy   35    Male      Laptop
100      101   United States   46  Female      Tablet

[101 rows x 5 columns]

In [ ]:
df_filtered.to_sql('user', conn, if_exists='append', index=False)

101

In [ ]:
columns_to_insert = ['User_Id', 'Subscription_Type', 'Plan_Duration']
df_filtered = df[columns_to_insert]

starting_subscription_id = 1
subscription_ids = list(range(starting_subscription_id, starting_subscription_id + len(df_filtered)))

data = {'Subscription_Id': subscription_ids, 'UserId': df_filtered['User_Id'], 'Subscription_Type': df_filtered['Subscription_Type'], 'Plan_Duration': df_filtered['Plan_Duration']}
df_with_subscription = pd.DataFrame(data)

create_table_query = """
CREATE TABLE subscription  (
    Subscription_Id INTEGER PRIMARY KEY,
    UserId INTEGER,
    Subscription_Type CHAR,
    Plan_Duration INTEGER,
    FOREIGN KEY (UserId) REFERENCES user(User_Id)
)
"""
conn.execute(create_table_query)

df_with_subscription.to_sql('subscription', conn, if_exists='append', index=False)

101

In [ ]:
columns_to_insert = ['User_Id', 'Monthly_Revenue']
df2_filtered = df[columns_to_insert]

starting_revenue_id = 1
revenue_ids = list(range(starting_revenue_id, starting_revenue_id + len(df_filtered)))

data = {'Revenue_Id': revenue_ids, 'UserId': df2_filtered['User_Id'], 'Monthly_Revenue': df2_filtered['Monthly_Revenue']}
df_with_revenue = pd.DataFrame(data)

create_table_query = """
CREATE TABLE revenue  (
    Revenue_Id INTEGER PRIMARY KEY,
    UserId INTEGER,
    Monthly_Revenue INTEGER,
    FOREIGN KEY (UserId) REFERENCES user(User_Id)
)
"""
conn.execute(create_table_query)

df_with_revenue.to_sql('revenue', conn, if_exists='append', index=False)

101

In [ ]:
columns_to_insert = ['User_Id', 'Age']
df3_filtered = df[columns_to_insert]

starting_demographics_id = 1
demographics_ids = list(range(starting_demographics_id, starting_demographics_id + len(df_filtered)))

data = {'Demographics_Id': demographics_ids, 'UserId': df3_filtered['User_Id'], 'Age_Group': df3_filtered['Age']}
df_with_demographics = pd.DataFrame(data)

create_table_query = """
CREATE TABLE demographics   (
    Demographics_Id INTEGER PRIMARY KEY,
    UserId INTEGER,
    Age_Group INTEGER,
    FOREIGN KEY (UserId) REFERENCES user(User_Id)
)
"""
conn.execute(create_table_query)
df_with_demographics.to_sql('demographics', conn, if_exists='append', index=False)

101

In [ ]:
columns_to_insert = ['User_Id', 'Gender']
df4_filtered = df[columns_to_insert]

starting_gender_id = 1
gender_ids = list(range(starting_gender_id, starting_gender_id + len(df_filtered)))

data = {'Gender_Id': gender_ids, 'UserId': df4_filtered['User_Id'], 'Gender': df4_filtered['Gender']}
df_with_gender = pd.DataFrame(data)

create_table_query = """
CREATE TABLE gender (
    Gender_Id INTEGER PRIMARY KEY,
    UserId INTEGER,
    Gender VARCHAR(255),
    FOREIGN KEY (UserId) REFERENCES user(User_Id)
)
"""
conn.execute(create_table_query)

df_with_gender.to_sql('gender', conn, if_exists='append', index=False)

101

In [ ]:
columns_to_insert = ['User_Id', 'Device']
df5_filtered = df[columns_to_insert]

starting_device_id = 1
device_ids = list(range(starting_device_id, starting_device_id + len(df_filtered)))

data = {'Device_Id': device_ids, 'UserId': df5_filtered['User_Id'], 'Device': df5_filtered['Device']}
df_with_device = pd.DataFrame(data)

create_table_query = """
CREATE TABLE device (
    Device_Id INTEGER PRIMARY KEY,
    UserId INTEGER,
    Device VARCHAR(255),
    FOREIGN KEY (UserId) REFERENCES user(User_Id)
)
"""
conn.execute(create_table_query)

df_with_device.to_sql('device', conn, if_exists='append', index=False)

101

In [ ]:
columns_to_insert = ['User_Id', 'Country']
df6_filtered = df[columns_to_insert]

starting_country_id = 1
country_ids = list(range(starting_country_id, starting_country_id + len(df_filtered)))

data = {'Country_Id': country_ids, 'UserId': df6_filtered['User_Id'], 'Country': df6_filtered['Country']}
df_with_country = pd.DataFrame(data)

create_table_query = """
CREATE TABLE country (
    Country_Id INTEGER PRIMARY KEY,
    UserId INTEGER,
    Country VARCHAR(255),
    FOREIGN KEY (UserId) REFERENCES user(User_Id)
)
"""
conn.execute(create_table_query)

df_with_country.to_sql('country', conn, if_exists='append', index=False)

101

### **Queries**

---

In [ ]:
query = "SELECT * FROM subscription"

result = conn.execute(query).fetchall()

column_names = [column[1] for column in conn.execute('PRAGMA table_info(subscription)').fetchall()]

df = pd.DataFrame(result, columns=column_names)

print(df.to_string(index=False))

 Subscription_Id  UserId Subscription_Type  Plan_Duration
               1       1             Basic              1
               2       2           Premium              1
               3       3          Standard              1
               4       4          Standard              1
               5       5             Basic              1
               6       6           Premium              1
               7       7          Standard              1
               8       8             Basic              1
               9       9          Standard              1
              10      10           Premium              1
              11      11             Basic              1
              12      12           Premium              1
              13      13          Standard              1
              14      14             Basic              1
              15      15          Standard              1
              16      16           Premium              1
              17      17             Basic              1
              18      18          Standard              1
              19      19           Premium              1
              20      20             Basic              1
              21      21           Premium              1
              22      22             Basic              1
              23      23          Standard              1
              24      24          Standard              1
              25      25             Basic              1
              26      26           Premium              1
              27      27             Basic              1
              28      28          Standard              1
              29      29           Premium              1
              30      30             Basic              1
              31      31           Premium              1
              32      32             Basic              1
              33      33          Standard              1
              34      34          Standard              1
              35      35             Basic              1
              36      36           Premium              1
              37      37             Basic              1
              38      38          Standard              1
              39      39           Premium              1
              40      40             Basic              1
              41      41           Premium              1
              42      42             Basic              1
              43      43          Standard              1
              44      44          Standard              1
              45      45             Basic              1
              46      46           Premium              1
              47      47             Basic              1
              48      48          Standard              1
              49      49           Premium              1
              50      50             Basic              1
              51      51           Premium              1
              52      52             Basic              1
              53      53          Standard              1
              54      54          Standard              1
              55      55             Basic              1
              56      56           Premium              1
              57      57             Basic              1
              58      58          Standard              1
              59      59           Premium              1
              60      60             Basic              1
              61      61           Premium              1
              62      62             Basic              1
              63      63          Standard              1
              64      64          Standard              1
              65      65             Basic              1
              66      66           Premium              1
              67      67             Basic              1
              68      68          Standard              1
              69      69           Premium              1
              70      70             Basic              1
              71      71             Basic              1
              72      72             Basic              1
              73      73          Standard              1
              74      74           Premium              1
              75      75             Basic              1
              76      76             Basic              1
              77      77           Premium              1
              78      78          Standard              1
              79      79          Standard              1
              80      80             Basic              1
              81      81           Premium              1
              82      82          Standard              1
              83      83             Basic              1
              84      84          Standard              1
              85      85           Premium              1
              86      86             Basic              1
              87      87           Premium              1
              88      88          Standard              1
              89      89             Basic              1
              90      90          Standard              1
              91      91           Premium              1
              92      92             Basic              1
              93      93          Standard              1
              94      94           Premium              1
              95      95             Basic              1
              96      96           Premium              1
              97      97             Basic              1
              98      98          Standard              1
              99      99          Standard              1
             100     100             Basic              1
             101     101           Premium              1

In [ ]:
query = "SELECT * FROM revenue"

result = conn.execute(query).fetchall()

column_names = [column[1] for column in conn.execute('PRAGMA table_info(revenue)').fetchall()]

df = pd.DataFrame(result, columns=column_names)

print(df.to_string(index=False))

 Revenue_Id  UserId  Monthly_Revenue
          1       1               10
          2       2               12
          3       3               15
          4       4               15
          5       5               10
          6       6               12
          7       7               15
          8       8               10
          9       9               15
         10      10               12
         11      11               10
         12      12               12
         13      13               15
         14      14               10
         15      15               15
         16      16               12
         17      17               10
         18      18               15
         19      19               12
         20      20               10
         21      21               12
         22      22               10
         23      23               15
         24      24               15
         25      25               10
         26      26               12
         27      27               10
         28      28               15
         29      29               12
         30      30               10
         31      31               12
         32      32               10
         33      33               15
         34      34               15
         35      35               10
         36      36               12
         37      37               10
         38      38               15
         39      39               12
         40      40               10
         41      41               12
         42      42               10
         43      43               15
         44      44               15
         45      45               10
         46      46               12
         47      47               10
         48      48               15
         49      49               12
         50      50               10
         51      51               12
         52      52               10
         53      53               15
         54      54               15
         55      55               10
         56      56               12
         57      57               10
         58      58               15
         59      59               12
         60      60               10
         61      61               12
         62      62               10
         63      63               15
         64      64               15
         65      65               10
         66      66               12
         67      67               10
         68      68               15
         69      69               12
         70      70               10
         71      71               10
         72      72               10
         73      73               15
         74      74               12
         75      75               10
         76      76               10
         77      77               12
         78      78               15
         79      79               15
         80      80               10
         81      81               12
         82      82               15
         83      83               10
         84      84               15
         85      85               12
         86      86               10
         87      87               12
         88      88               15
         89      89               10
         90      90               15
         91      91               12
         92      92               10
         93      93               15
         94      94               12
         95      95               10
         96      96               12
         97      97               10
         98      98               15
         99      99               15
        100     100               10
        101     101               12

In [ ]:
query = "SELECT * FROM demographics"

result = conn.execute(query).fetchall()

column_names = [column[1] for column in conn.execute('PRAGMA table_info(demographics)').fetchall()]

df = pd.DataFrame(result, columns=column_names)

print(df.to_string(index=False))

 Demographics_Id  UserId  Age_Group
               1       1         28
               2       2         35
               3       3         42
               4       4         51
               5       5         33
               6       6         29
               7       7         46
               8       8         39
               9       9         37
              10      10         44
              11      11         31
              12      12         45
              13      13         48
              14      14         27
              15      15         38
              16      16         36
              17      17         30
              18      18         43
              19      19         32
              20      20         41
              21      21         26
              22      22         34
              23      23         49
              24      24         31
              25      25         40
              26      26         29
              27      27         47
              28      28         33
              29      29         36
              30      30         42
              31      31         28
              32      32         37
              33      33         41
              34      34         29
              35      35         39
              36      36         35
              37      37         45
              38      38         32
              39      39         27
              40      40         48
              41      41         31
              42      42         40
              43      43         36
              44      44         29
              45      45         43
              46      46         34
              47      47         39
              48      48         32
              49      49         28
              50      50         45
              51      51         30
              52      52         37
              53      53         41
              54      54         29
              55      55         39
              56      56         36
              57      57         46
              58      58         34
              59      59         27
              60      60         42
              61      61         28
              62      62         37
              63      63         41
              64      64         29
              65      65         40
              66      66         29
              67      67         47
              68      68         33
              69      69         36
              70      70         41
              71      71         27
              72      72         31
              73      73         28
              74      74         41
              75      75         28
              76      76         51
              77      77         45
              78      78         49
              79      79         43
              80      80         43
              81      81         37
              82      82         35
              83      83         46
              84      84         32
              85      85         37
              86      86         29
              87      87         45
              88      88         47
              89      89         39
              90      90         49
              91      91         39
              92      92         39
              93      93         35
              94      94         44
              95      95         34
              96      96         32
              97      97         29
              98      98         31
              99      99         29
             100     100         35
             101     101         46

In [ ]:
query = "SELECT * FROM gender"

result = conn.execute(query).fetchall()

column_names = [column[1] for column in conn.execute('PRAGMA table_info(gender)').fetchall()]

df = pd.DataFrame(result, columns=column_names)

print(df.to_string(index=False))

 Gender_Id  UserId Gender
         1       1   Male
         2       2 Female
         3       3   None
         4       4   None
         5       5   None
         6       6   None
         7       7   Male
         8       8 Female
         9       9   Male
        10      10 Female
        11      11 Female
        12      12   Male
        13      13 Female
        14      14   Male
        15      15 Female
        16      16   Male
        17      17 Female
        18      18   Male
        19      19 Female
        20      20   Male
        21      21 Female
        22      22   Male
        23      23 Female
        24      24   None
        25      25 Female
        26      26   Male
        27      27 Female
        28      28   Male
        29      29   None
        30      30   Male
        31      31 Female
        32      32   Male
        33      33   None
        34      34   Male
        35      35 Female
        36      36   None
        37      37 Female
        38      38   Male
        39      39 Female
        40      40   Male
        41      41 Female
        42      42   None
        43      43 Female
        44      44   Male
        45      45   None
        46      46   Male
        47      47 Female
        48      48   Male
        49      49 Female
        50      50   Male
        51      51 Female
        52      52   Male
        53      53 Female
        54      54   Male
        55      55 Female
        56      56   Male
        57      57 Female
        58      58   Male
        59      59 Female
        60      60   Male
        61      61 Female
        62      62   Male
        63      63 Female
        64      64   Male
        65      65 Female
        66      66   Male
        67      67 Female
        68      68   Male
        69      69 Female
        70      70   Male
        71      71   Male
        72      72 Female
        73      73 Female
        74      74 Female
        75      75 Female
        76      76 Female
        77      77 Female
        78      78   Male
        79      79 Female
        80      80   Male
        81      81   Male
        82      82   Male
        83      83 Female
        84      84   Male
        85      85 Female
        86      86 Female
        87      87   Male
        88      88   Male
        89      89   Male
        90      90 Female
        91      91   Male
        92      92   Male
        93      93   Male
        94      94   Male
        95      95   Male
        96      96   Male
        97      97 Female
        98      98 Female
        99      99 Female
       100     100   Male
       101     101 Female

In [ ]:
grouped = df.groupby('Subscription_Type')['Monthly_Revenue'].sum().reset_index()
print(grouped)

  Subscription_Type  Monthly_Revenue
0             Basic              390
1           Premium              360
2          Standard              480

In [ ]:
grouped_counts = df.groupby(['Subscription_Type', 'Device']).size().reset_index(name='Occurrences')
print(grouped_counts)

   Subscription_Type      Device  Occurrences
0              Basic      Laptop           11
1              Basic    Smart TV            6
2              Basic  Smartphone           15
3              Basic      Tablet            7
4            Premium      Laptop            8
5            Premium    Smart TV            8
6            Premium  Smartphone            6
7            Premium      Tablet            8
8           Standard      Laptop            7
9           Standard    Smart TV            5
10          Standard  Smartphone            9
11          Standard      Tablet           11

### **Join**

---

In [ ]:
query = """
SELECT gender.Gender, user.Country
FROM gender
Left JOIN user ON gender.UserId= user.User_Id;
"""
cursor = conn.execute(query)

results = cursor.fetchall()
df = pd.DataFrame(results, columns=["Gender", "Country"])
print(df.to_string(index=False))

Gender        Country
  Male  United States
Female         Canada
  None United Kingdom
  None      Australia
  None        Germany
  None         France
  Male         Brazil
Female         Mexico
  Male          Spain
Female          Italy
Female  United States
  Male         Canada
Female United Kingdom
  Male      Australia
Female        Germany
  Male         France
Female         Brazil
  Male         Mexico
Female          Spain
  Male          Italy
Female  United States
  Male         Canada
Female United Kingdom
  None      Australia
Female        Germany
  Male         France
Female         Brazil
  Male         Mexico
  None          Spain
  Male          Italy
Female  United States
  Male         Canada
  None United Kingdom
  Male      Australia
Female        Germany
  None         France
Female         Brazil
  Male         Mexico
Female          Spain
  Male          Italy
Female  United States
  None         Canada
Female United Kingdom
  Male      Australia
  None        Germany
  Male         France
Female         Brazil
  Male         Mexico
Female          Spain
  Male          Italy
Female  United States
  Male         Canada
Female United Kingdom
  Male      Australia
Female        Germany
  Male         France
Female         Brazil
  Male         Mexico
Female          Spain
  Male          Italy
Female  United States
  Male         Canada
Female United Kingdom
  Male      Australia
Female        Germany
  Male         France
Female         Brazil
  Male         Mexico
Female          Spain
  Male          Italy
  Male  United States
Female         Canada
Female United Kingdom
Female      Australia
Female        Germany
Female         France
Female         Brazil
  Male         Mexico
Female          Spain
  Male          Italy
  Male  United States
  Male         Canada
Female United Kingdom
  Male      Australia
Female        Germany
Female         France
  Male         Brazil
  Male         Mexico
  Male          Spain
Female          Italy
  Male  United States
  Male         Canada
  Male United Kingdom
  Male      Australia
  Male        Germany
  Male         France
Female         Brazil
Female         Mexico
Female          Spain
  Male          Italy
Female  United States

In [ ]:
query = """
SELECT gender.Gender, user.Country, COUNT(*) as Count
FROM gender
INNER JOIN user ON gender.UserId = user.User_Id
GROUP BY gender.Gender, user.Country;
"""
cursor = conn.execute(query)

results = cursor.fetchall()
df = pd.DataFrame(results, columns=["Gender", "Country", "Count"])
pivot_df = df.pivot_table(index='Gender', columns='Country', values='Count', aggfunc='sum', fill_value=0)
print(pivot_df)

Country  Australia  Brazil  Canada  France  Germany  Italy  Mexico  Spain  \
Gender
Female           1       8       2       2        7      2       2      7
Male             7       2       7       6        1      8       8      2

Country  United Kingdom  United States
Gender
Female                7              7
Male                  1              4


 **Alter Table**
---

In [ ]:
alter_query = "ALTER TABLE revenue ADD COLUMN new_column Testing;"
conn.execute(alter_query)

In [ ]:
column_to_delete = 'new_column'

alter_query = f"ALTER TABLE revenue DROP COLUMN {column_to_delete};"
conn.execute(alter_query)

print(f"Column '{column_to_delete}' deleted successfully.")

Column 'new_column' deleted successfully.

### **Deleting the Database**

---

In [ ]:
import os
database_name = 'DMBD.db'

if os.path.exists(database_name):
    !rm {database_name}
    print(f"The database '{database_name}' has been deleted.")
else:
    print(f"The database '{database_name}' does not exist.")

The database 'DMBD.db' has been deleted.